.container {
    margin-bottom: 75px;
}

header {
    background-color: #F0FFF0;
}

.navbar {
    font-size: 20px;
}

.logo {
    max-width: 250px;
}

.margin {
    margin: 5px 15px;
}

.btn {
    color: #FFFFFF;
    background-color: #21B373;
    border: none;
    border-radius: 33px;
    padding: 10px 25px;
}

.banner h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 30px 0px;
}

.color1 {
    color: #21B373;
}

.banner p {
    line-height: 2;
    margin: 20px 0px;
}

.banner1 {
    width: 400px;
}

.banner img {
    margin-bottom: 50px;
}

.category img {
    width: 100px;
    margin: 30px auto 15px auto;
}

.categoryCard {
    border: none;
    border-radius: 10px;
}

#card1,
#card3,
#card4 {
    background-color: #F8FFFB;
}

#card2 {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}

.bigBh1 {
    font-size: 36px;
    font-weight: bold;
    margin: 50px 0px;
}

.courseCard {
    border: none;
    border-radius: 18px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}

.courseCard img {
    width: 90%;
    margin: 20px auto;
}

.courseCard p {
    color: #585859;
}

.calPeo img {
    width: 25px;
    height: 25px;
    margin: 0px 5px;
}

.calPeo p {
    font-weight: 500;
    color: #585859;
}

.calPeo1 {
    margin-left: 15px;
}

.calPeo2 {
    margin-right: 15px;
}

.testimonial img {
    width: 120px;
    height: 120px;
    margin: auto 50px;
}

.testimonial p {
    width: 550px;
    margin: auto 0px;
    color: #000000;
}

footer {
    background-color: #282531;
    color: #FFFFFF;
}

.footerP {
    padding-top: 48px;
    line-height: 2;
    width: 366px;
}

.footerRight {
    padding-top: 55px;
}

footer ul {
    line-height: 2;
}

footer li {
    list-style: none;
}

footer li:first-child {
    font-weight: bold;
    font-size: 18px;
}

footer .container {
    margin-bottom: 0;
}

.copyright {
    color: #CDCDCD;
    text-align: center;
    margin-top: 75px;
    padding-bottom: 10px;
}